<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Vehicle Type</th>
        <th>Color</th>
        <th>Capacity</th>
        <th>Length</th>
        <th>Wheels</th>
        <th>Headlights On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.id }}</td>
        <td>{{ car.vehicleType }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.capacity }}</td>
        <td>{{ car.length }}</td>
        <td>{{ car.wheels }}</td>
        <td>
          <div class="d-flex align-items-center">
            <span
              *ngIf="car.headlightsOn; else offTemplate"
              class="mr-2 text-success"
              >On</span
            >
            <ng-template #offTemplate>
              <span class="mr-2 text-danger">Off</span>
            </ng-template>
            <button
              class="btn btn-primary headlights-toggle"
              (click)="toggleHeadlights(car)"
            >
              {{ car.headlightsOn ? "Turn Off" : "Turn On" }}
            </button>
          </div>
        </td>
        <td>
          <button class="btn btn-primary" (click)="openUpdateCarPopup(car)">
            Update
          </button>
          <button class="btn btn-danger" (click)="openDeleteCarPopup(car)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Add Car Popup -->
  <div class="add-car-popup">
    <button class="btn btn-primary add-car-btn" (click)="openAddCarPopup()">
      Add Car
    </button>

    <ng-template #addCarPopupTemplate>
      <div class="modal-header">
        <h4 class="modal-title">Add Car</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeAddCarPopup()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addCar()" [formGroup]="newCarForm">
          <div class="form-group">
            <label for="color">Color:</label>
            <input
              type="text"
              id="color"
              class="form-control"
              formControlName="color"
            />
            <div
              *ngIf="
                newCarForm.get('color')?.invalid &&
                newCarForm.get('color')?.touched
              "
              class="text-danger"
            >
              Color is required.
            </div>
          </div>
          <div class="form-group">
            <label for="capacity">Capacity:</label>
            <input
              type="number"
              id="capacity"
              class="form-control"
              formControlName="capacity"
            />
            <div
              *ngIf="
                newCarForm.get('capacity')?.invalid &&
                newCarForm.get('capacity')?.touched
              "
              class="text-danger"
            >
              Capacity is required and should be greater than or equal to 1.
            </div>
          </div>
          <div class="form-group">
            <label for="length">Length:</label>
            <input
              type="number"
              id="length"
              class="form-control"
              formControlName="length"
            />
            <div
              *ngIf="
                newCarForm.get('length')?.invalid &&
                newCarForm.get('length')?.touched
              "
              class="text-danger"
            >
              Length is required and should be greater than or equal to 1.
            </div>
          </div>
          <div class="form-group">
            <label for="wheels">Wheels:</label>
            <input
              type="number"
              id="wheels"
              class="form-control"
              formControlName="wheels"
            />
            <div
              *ngIf="
                newCarForm.get('wheels')?.invalid &&
                newCarForm.get('wheels')?.touched
              "
              class="text-danger"
            >
              Wheels is required and should be greater than or equal to 2.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </ng-template>
  </div>

  <!-- Update Car Popup -->
  <ng-template #updateCarPopupTemplate>
    <div class="modal-header">
      <h4 class="modal-title">Update Car</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeUpdateCarPopup()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (submit)="updateCar()" [formGroup]="updateCarForm">
        <div class="form-group">
          <label for="vehicleType">Vehicle Type:</label>
          <input
            type="text"
            id="vehicleType"
            class="form-control"
            formControlName="vehicleType"
            [ngClass]="{
              'is-invalid':
                updateCarForm.get('vehicleType')?.invalid &&
                updateCarForm.get('vehicleType')?.touched
            }"
          />
          <div
            *ngIf="
              updateCarForm.get('vehicleType')?.invalid &&
              updateCarForm.get('vehicleType')?.touched
            "
            class="text-danger"
          >
            Vehicle Type is required and must be a string with at least 2
            letters.
          </div>
        </div>
        <div class="form-group">
          <label for="color">Color:</label>
          <input
            type="text"
            id="color"
            class="form-control"
            formControlName="color"
            [ngClass]="{
              'is-invalid':
                updateCarForm.get('color')?.invalid &&
                updateCarForm.get('color')?.touched
            }"
          />
          <div
            *ngIf="
              updateCarForm.get('color')?.invalid &&
              updateCarForm.get('color')?.touched
            "
            class="text-danger"
          >
            Color is required and must be a string with at least 2 letters.
          </div>
        </div>
        <div class="form-group">
          <label for="capacity">Capacity:</label>
          <input
            type="number"
            id="capacity"
            class="form-control"
            formControlName="capacity"
          />
          <div
            *ngIf="
              updateCarForm.get('capacity')?.invalid &&
              updateCarForm.get('capacity')?.touched
            "
            class="text-danger"
          >
            Capacity is required and should be greater than or equal to 1.
          </div>
        </div>
        <div class="form-group">
          <label for="length">Length:</label>
          <input
            type="number"
            id="length"
            class="form-control"
            formControlName="length"
          />
          <div
            *ngIf="
              updateCarForm.get('length')?.invalid &&
              updateCarForm.get('length')?.touched
            "
            class="text-danger"
          >
            Length is required and should be greater than or equal to 1.
          </div>
        </div>
        <div class="form-group">
          <label for="wheels">Wheels:</label>
          <input
            type="number"
            id="wheels"
            class="form-control"
            formControlName="wheels"
          />
          <div
            *ngIf="
              updateCarForm.get('wheels')?.invalid &&
              updateCarForm.get('wheels')?.touched
            "
            class="text-danger"
          >
            Wheels is required and should be greater than or equal to 2.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </ng-template>

  <!-- Delete Car Popup -->
  <ng-template #deleteCarPopupTemplate>
    <div class="delete-car-popup">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete?</h4>
      </div>
      <div class="modal-body">
        <div class="btn-group">
          <button class="btn btn-danger" (click)="deleteCar()">Yes</button>
          <button class="btn btn-secondary" (click)="closeDeleteCarPopup()">
            No
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Rest of the code -->
</div>
